$def with (param)

<html>
<head>
	<title>correction</title>
</head>
<body>

<br/>

<form name="form_index" enctype="multipart/form-data" action="/" method="POST">
	$if param.elements == None:
		<center>
			COLFile: <input type="file" name="colfile"/><br/>
			ProntList: <input type="file" name="prontlist"/><br/>
			<input type="submit" value="loading" name="loading" /><br>
		</center>
	$else:
		<input type="hidden" name="colfiletxt" value="$param.colfile"/>
		<input type="hidden" name="prontofiletxt" value="$param.prontofile"/>
		<input type="checkbox" name="checkbox4" value="checkbox"> CN<br>
		<select name="releasea" size = "20" multiple>
			$for element in param.elements:
				<option value=$element.id>$element.target</option>
		</select>
		<input type="submit" value="report" name="report" />
		
</form>
	
	$if param.results <> None:
		<hr/>
		$for line in param.results:
			$line <br/>
  
  
</body>
</html>



